@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Outfit;
    
}
body{
    min-height: 100vh;
    background-color: rgba(248, 247, 247, 0.979)
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    border: none;
    height: 1px;
    background-color: rgb(228, 213, 213);
}
.app-content{
    display: flex;
}