.Header{
    height: 34vw;
    margin: 30px auto;
    background: url('header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.Header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 1.2s ease-in-out forwards;
}
.Header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.Header-contents p{
    color: white;
    font-size: 1vw;
}
.Header-contents button{
    background: none;
    color: grey;
    border: none;
    font-weight:500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}