.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: grey;
    font-size: 18px;
    cursor: pointer;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right button{
    background: transparent;
    font-size: 16px;
    color: grey;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}
.nav-right button:hover{
    background-color: rgb(236, 221, 221);
}
.navbar .active{
    border-bottom: 2px solid grey;
    padding-bottom: 2px;
}
.nav-search-icon{
    position: relative;
}
.nav-search-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}