.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 40px;
  }
  
  .profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  